{
	"gui": {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/merchant/merchantheader.png",
			"fileBody" : "/interface/scripted/moth_venusiandeals/body.png",
			"fileFooter" : "/interface/merchant/merchantfooter.png"
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "	Merchant",
			"subtitle" : "	^#b9b5b2;Buy and sell your goods here!",
			"position" : [-5, 252],
			"icon" : {
				"type" : "image",
				"file" : "/interface/scripted/moth_venusiandeals/icon.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [161, 242]
		},
		"config" : {
			"type" : "button",
			"base" : "/interface/cog.png",
			"hover" : "/interface/coghover.png",
			"pressed" : "/interface/cogpress.png",
			"callback" : "button_config",
			"pressedOffset" : [0, 0],
			"position" : [149, 242]
		},
		"bgShine" : {
			"type" : "image",
			"file" : "/interface/scripted/moth_venusiandeals/shine.png",
			"position" : [0, -12],
			"zlevel" : 1,
			"mouseTransparent" : true
		},
		"timeLeft" : {
			"type" : "label",
			"position" : [85, 217],
			"value" : "Time until next rotation : 420:69:69",
			"hAnchor" : "mid"
		},
		"munieOwnedIcon" : {
			"type" : "image",
			"position" : [3, 227],
			"file" : "/interface/munie.png"
		},
		"munieOwned" : {
			"type" : "label",
			"position" : [22, 226],
			"value" : "12312312312321",
			"hAnchor" : "left"
		},
		"spinCount" : {
			"type" : "spinner",
			"position" : [10, 51],
			"upOffset" : 44
		},
		"tbCount" : {
			"callback" : "parseCountText",
			"type" : "textbox",
			"position" : [25, 51],
			"textAlign" : "center",
			"maxWidth" : 18,
			"regex" : "x?\\d{0,4}"
		},
		"imgCountBg" : {
			"type" : "image",
			"file" : "/interface/merchant/amount.png",
			"position" : [20, 50],
			"zlevel" : -3
		},
		"lblBuyTotalCaption" : {
			"type" : "label",
			"fontSize" : 8,
			"position" : [113, 51],
			"value" : "TOTAL COST",
			"hAnchor" : "right"
		},
		"imgBuyMoneyIcon" : {
			"type" : "image",
			"file" : "/interface/money.png",
			"position" : [115, 52],
			"zlevel" : -3
		},
		"lblBuyTotal" : {
			"type" : "label",
			"fontSize" : 8,
			"hAnchor" : "right",
			"position" : [166, 51],
			"value" : "0"
		},
		"btnBuy" : {
			"callback" : "buy",
			"type" : "button",
			"base" : "/interface/merchant/button.png",
			"hover" : "/interface/merchant/buttonhover.png",
			"position" : [61.5, 30],
			"caption" : "Buy"
		},
		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [8, 62, 174, 216],
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "scrollArea",
					"schema" : {
						"selectedBG" : "/interface/scripted/moth_venusiandeals/itemselected.png",
						"unselectedBG" : "/interface/scripted/moth_venusiandeals/itembackground.png",
						"spacing" : [0, 1],
						"memberSize" : [156, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/moth_venusiandeals/itembackground.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"itemName" : {
								"type" : "label",
								"position" : [22, 18],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 116,
								"lineSpacing" : 1.05,
								"value" : "Replace Me"
							},
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [1, 1],
								"callback" : "null"
							},
							"moneyIcon" : {
								"type" : "image",
								"position" : [108, 1],
								"data" : "money",
								"file" : "/interface/money.png"
							},
							"inventoryLabel" : {
								"type" : "label",
								"position" : [153, 18],
								"hAnchor" : "right",
								"vAnchor" : "top",
								"value" : "-1 Left"
							},
							"priceLabel" : {
								"type" : "label",
								"position" : [153, 0],
								"hAnchor" : "right",
								"value" : "0"
							},
							"unavailableoverlay" : {
								"type" : "image",
								"file" : "/interface/merchant/unavailableoverlay.png",
								"position" : [0, 0],
								"zlevel" : 1
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks": [
		"button_config",
		"parseCountText",
		"buy",
		"preOrder",
		"spinCount.up",
		"spinCount.down",
		"scrollArea"
	],

	"scripts": ["/interface/scripted/moth_venusiandeals/moth_venusiandeals.lua"],
	"scriptDelta": 1,

	"serializeSelection": true
}