{	
	// This is the mod's current version. Don't touch this.
	"version" : "0.16",
	
	// This is the current language of the mod. Currently available are:
	// eng (English)
	"language" :  "eng",
	
	// These are the arbitrary values given by the various actions you can do while flirting.
	// A heart is 10 for reference.
	// 0 and lower is equal to infinite for cooldowns and counts.
	"flirtingValues" : {
		// The max amount of love points you can have at any given moment.
		"heartsCap" : 100,
		// When married, the max amount of love points you can have over the regular hearts cap. This needs to be filled for procreation, and empties upon producing offspring.
		"overHeartsCap" : 40,
		// The max amount of negative love points you can have at any given moment.
		"evilHeartsCap" : -100,
		
		// The followings are the love point milestones you have to reach in order to qualify for the statuses.
		"AnnoyanceCap" : -40,
		"FriendCap" : 30,
		"LoverCap" : 70,
		"MarryCap" : 100,
		
		// The time at which relationship decay starts.
		"decayStart" : 5400,
		// The interval at which decay decreases relationship.
		"decayInterval" : 600,
		// The amount of relationship points decay removes per interval.
		"decayValue" : -2,
	
		// The amount of love attributed by a normal chat.
		"interactionChatValue" : 0.2,
		// The amount of love attributed by a rightly answered question.
		"questionRightValue" : 1,
		// The amount of love attributed by a wrongly answered question.
		"questionWrongValue" : -1,
		// The chance to unlock a random data value in the NPC each interaction.
		// 0 is never, 1 is guaranteed. Must be between 0 or 1 or else it will crash.
		// Rolled 0 times for questions answered wrongly;
		// Rolled 1 time for normal chatter;
		// Rolled 2 times for questions answered right.
		"interactionUnlockChance" : 0.05,
		// The amount of times you can interact before it goes on cooldown.
		"interactionCount" : 3,
		// The cooldown time in seconds for interactions.
		"interactionCooldown" : 300,
		
		// These are the maximum possible values of gifts, before affinity multipliers.
		// From neutral to loved, higher quality increases the value of gifts.
		// From disliked to hated, higher quality decreases the negative value of gifts.
		"giftLovedValue" : 10,
		"giftLikedValue" : 4,
		"giftNeutralValue" : 1,
		"giftDislikedValue" : -4,
		"giftHatedValue" : -10,
		// The amount of times you can gift before it goes on cooldown.
		"giftCount" : 1,
		// The cooldown time in seconds for gifts.
		"giftCooldown" : 900,
		
		// The amount of times you can procreate before it goes on cooldown.
		"procreateCount" : 1,
		// The cooldown time in seconds for succesful procreation.
		"procreateCooldown" : 3600,
		"procreateCost" : 1.0, //100% of overhearts get consumed on success
		// The cooldown time in seconds for failed procreation.
		"procreateFailCooldown" : 300,
		"procreateFailCost" : 0.3 //30% of overhearts get consumed on failure
	},
	
	// This makes it so the family tree system has no restrictions on which NPCs you can and cannot date.
	"allowIncest" : false,
	
	// This makes it so all marriage restrictions, apart from relationship level, are removed. Multiple players can marry the same spouse, a specific player can marry many spouses. 
	// Otherwise, you may only marry one NPC at a time, and not someone else's spouse.
	"allowPolygamy" : false,
	
	// This makes relationships decay over time, needing the player to interact regularly with NPCs in order to keep a stable relationship level.
	"enableRelationshipDecay" : true,
	
	// This makes it so that NPCs have specific gender preferences. Otherwise, every NPC that exists will be pansexual.
	"enableGenderPreferences" : true,
	
	// If enableGenderPreferences is enabled, these are the odds of an npc having specific sexualities. These are weight-based; higher number equals higher chance.
	"genderPreferencesOdds" : [
		[ 55, "heterosexual" ],
		[ 25, "homosexual" ],
		[ 15, "pansexual" ],
		[ 5, "asexual" ]
	],
	
	// This makes it so that NPCs have randomly generated affinity towards the player. Otherwise, all NPCs will be neutral, or racist if the below is enabled.
	"enableRandomAffinity" : true,
	
	// This makes it so that NPCs have racial biases. Otherwise, racism won't exist.
	"enableRacialAffinity" : true,
	
	// If the two config options above are enabled, these two numbers affect which affinity has a larger influence.
	// Left is random affinity.
	// Right is racial affinity.
	"randomRacialAffinityProportion" : [0.5, 0.5],
	
	// These are the configs related to personalities.
	"personalityConfig" : {
		// Normal is both a personality and the default option.
		"normal" : {
			// These are the directives for the interface's color tint.
			"color" : "AB5A09",
			// These are the soundtracks that play when romancing a specific personality.
			"music" : [ "/music/jupiter.ogg" ]
		},
		"cheerful" : {
			"color" : "F0D200",
			"music" : [ "/music/vast-immortal-suns.ogg" ]
		},
		"jerk" : {
			"color" : "F9994D",
			"music" : [ "/music/lava-exploration1.ogg" ]
		},
		"flirty" : {
			"color" : "F94DC2",
			"music" : [ "/music/ocean-exploration2.ogg" ]
		},
		"anxious" : {
			"color" : "2FB42F",
			"music" : [ "/music/eridanus-supervoid.ogg" ]
		},
		"easilyspooked" : {
			"color" : "FFA882",
			"music" : [ "/music/home-concept-loop.ogg" ]
		},
		"clumsy" : {
			"color" : "46AFE4",
			"music" : [ "/music/tentacle-exploration1.ogg" ]
		},
		"excited" : {
			"color" : "F05744",
			"music" : [ "/music/i-was-the-sun.ogg" ]
		},
		"intrusive" : {
			"color" : "CCA781",
			"music" : [ "/music/drosera.ogg" ]
		},
		"dumb" : {
			"color" : "58A7B7",
			"music" : [ "/music/forest-loop.ogg" ]
		},
		"emo" : {
			"color" : "8258C9",
			"music" : [ "/music/M54.ogg" ]
		},
		"fast" : {
			"color" : "86CC21",
			"music" : [ "/music/the-peacekeepers.ogg" ]
		},
		"nocturnal" : {
			"color" : "D489F3",
			"music" : [ "/music/forsaken-grotto.ogg" ]
		},
		"socialite" : {
			"color" : "F389BF",
			"music" : [ "/music/atlas.ogg" ]
		},
		"ambitious" : {
			"color" : "FF0B00",
			"music" : [ "/music/haiku.ogg" ]
		}
	},
	
	// These are the configs related to races.
	// If enableRacialAffinity is enabled, the affinity property contains racial influences NPCs.
	// If a racial affinity isn't written here, then it is considered equal to 0.
	// The maximums are -9 and 9. 
	// Affinity types are :
	// Worshiped : 	x >= 4  (Note: this will make it very quick to reach max relationship)
	// Loved : 		2 <= x < 4
	// Liked : 		0 < x < 2
	// Neutral : 	= 0
	// Disliked : 	-2 < x < 0
	// Hated : 		-4 < x <= -2
	// Nemesis : 	x <= -4 (Note: this will make it very grindy to reach max relationship)
	// The relationship loss and gain multipliers are calculated as follows
	// Relationship gain = 2^(Value/3) * Gain
	// Relationship loss = 2^(-Value/3) * Loss
	// The first race in the list is the NPC's race, the second race in the list is the Player's race.
	// To keep it reasonable, it is suggested to keep values between 4 and -4 for affinity.
	"racialConfig" : {
		"default" : {
			// The time it takes for a baby to grow up.
			"incubationTime" : 7200,
			// If the baby is an egg or a baby.
			"oviparous" : true,
			// The list of racial affinities a race has towards other races.
			"affinities" : {
				"default" : 0
			},
			"male" : {
				// The SFX they make during conversation.
				"chatSFX" : ["/sfx/interface/aichatter2.ogg"],
				// The racial icons for babies.
				"babyImage" : "/items/active/moth_baby/icons/default_m.png"
			},
			"female" : {
				// The SFX they make during conversation.
				"chatSFX" : ["/sfx/interface/aichatter2.ogg"],
				// The racial icons for babies.
				"babyImage" : "/items/active/moth_baby/icons/default_f.png"
			}
		},
		"human" : {
			"incubationTime" : 7200,
			"oviparous" : false,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/human_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/human_f.png"
			}
		},
		"floran" : {
			"incubationTime" : 7200,
			"oviparous" : false,
			"affinities" : {
				"default" : 0,
				"hylotl" : 1,
				"novakid" : 1
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/floran_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/floran_f.png"
			}
		},
		"hylotl" : {
			"incubationTime" : 7200,
			"oviparous" : true,
			"affinities" : {
				"default" : 0,
				"floran" : -3
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/hylotl_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/hylotl_f.png"
			}
		},
		"avian" : {
			"incubationTime" : 7200,
			"oviparous" : true,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/avian_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/avian_f.png"
			}
		},
		"glitch" : {
			"incubationTime" : 7200,
			"oviparous" : false,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/glitch_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/glitch_f.png"
			}
		},
		"apex" : {
			"incubationTime" : 30,
			"oviparous" : false,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/apex_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/apex_f.png"
			}
		},
		"novakid" : {
			"incubationTime" : 7200,
			"oviparous" : false,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/novakid_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/novakid_f.png"
			}
		},
		"fenerox" : {
			"incubationTime" : 7200,
			"oviparous" : false,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/fenerox_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/fenerox_f.png"
			}
		},
		"penguin" : {
			"incubationTime" : 7200,
			"oviparous" : true,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/penguin_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/penguin.png"
			}
		},
		"shadow" : {
			"incubationTime" : 7200,
			"oviparous" : false,
			"affinities" : {
				"default" : 0
			},
			"male" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/shadow_m.png"
			},
			"female" : {
				"chatSFX" : [],
				"babyImage" : "/items/active/moth_baby/icons/shadow_f.png"
			}
		}
	},
	
	// How much a personality's prefered gift type influences the odds of it being selected as the higher preference gift type and influences negatively the odds of it being selected as lower preference gift type.
	// How much a personality's undesired gift type influences the odds of it being selected as the lower preference gift type and influences negatively the odds of it being selected as higher preference gift type.
	// Note that if a personality prefers a gift type, it cannot be hated, and if a personality undesires a gift type, it cannot be loved.
	"personalityGiftInfluence" : 2.0,
	
	// These are the existing gift types that love interests can like or dislike.
	// If the item gift wrapped isn't in any of these categories, it is marked as "miscellaneous". While not a proper category, it can be liked and disliked just like other categories.
	// The prefered gift type section will not force the gift type onto the NPCs, but will increase the chances this gift type is enjoyed, and decrease the chances this gift type is disliked.
	// The undesired gift type section will not force the gift type onto the NPCs, but will decrease the chances this gift type is enjoyed, and increase the chances this gift type is disliked.
	// If the same personality is in both undesired and prefered, prefered takes priority.
	"giftCategories" : {
		"literature" : { 
			"script" : "/items/active/moth_giftwrap/categories/literature.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftLiteratureName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/literature.png"
				}
			},
			"prefered" : [ "anxious" ],
			"undesired" : []
		},
		"food" : { 
			"script" : "/items/active/moth_giftwrap/categories/food.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftFoodName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/food.png"
				}
			},
			"prefered" : [ "dumb" ],
			"undesired" : []
		},
		"weapons" : { 
			"script" : "/items/active/moth_giftwrap/categories/weapons.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftWeaponsName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/weapons.png"
				}
			},
			"prefered" : [ "ambitious" ],
			"undesired" : [ "clumsy" ]
		},
		"fossils" : { 
			"script" : "/items/active/moth_giftwrap/categories/fossils.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftFossilsName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/fossils.png"
				}
			},
			"prefered" : [ "emo" ],
			"undesired" : []
		},
		"instruments" : { 
			"script" : "/items/active/moth_giftwrap/categories/instruments.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftInstrumentsName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/instruments.png"
				}
			},
			"prefered" : [],
			"undesired" : []
		},
		"pets" : { 
			"script" : "/items/active/moth_giftwrap/categories/pets.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftPetsName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/pets.png"
				}
			},
			"prefered" : [ "easilyspooked", "fast" ],
			"undesired" : []
		},
		"furniture" : { 
			"script" : "/items/active/moth_giftwrap/categories/furniture.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftFurnitureName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/furniture.png"
				}
			},
			"prefered" : [ "easilyspooked", "fast" ],
			"undesired" : []
		},
		"bugs" : { 
			"script" : "/items/active/moth_giftwrap/categories/bugs.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftBugsName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/bugs.png"
				}
			},
			"prefered" : [],
			"undesired" : []
		},
		"actionfigures" : { 
			"script" : "/items/active/moth_giftwrap/categories/actionfigures.lua",
			"item" : {
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftActionfiguresName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/actionfigures.png"
				}
			},
			"prefered" : [ "nocturnal" ],
			"undesired" : []
		}
	},
	// These are for gift categories with unique hardcoded behavior. Do not mess with these unless you know what you're doing.
	"giftCategoriesUnique" : {
		"miscellaneous" : {
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftMiscName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_gift/moth_gift.png"
				}
			},
			"prefered" : [],
			"undesired" : []
		},
		"outfits" : { 
			"script" : "/items/active/moth_giftwrap/categories/outfits.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftOutfitsName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/outfits.png"
				}
			},
			"prefered" : [ "socialite" ],
			"undesired" : []
		},
		"junk" : { 
			"script" : "/items/active/moth_giftwrap/categories/junk.lua",
			"item" : { 
				"name" : "moth_unknown", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftJunkName",
					"entrydescription" : "giftDescription",
					"entrycategory" : "romanticTool",
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/junk.png"
				}
			},
			// Junk is universally hated (except for a very rare scenario), regardless of what is inside of the following.
			"prefered" : [],
			"undesired" : []
		}
	},
	
	// These are the default config value for client side settings.
	"clientConfigs" : {
		// Enables debug mode.
		"debug" : {
			"value" : false,
			"type" : "check",
			"order" : 1,
			"title" : "settingDebug"
		},
		// The amount of characters displayed per second. Setting it to 0 or lower will instantly display text instead.
		"chatScrollSpeed" : {
			"value" : 20,
			"type" : "slider",
			"order" : 2,
			"title" : "settingTextSpeed",
			"minimum" : 10,
			"maximum" : 300,
			"delta" : 1
		},
		// The time in seconds a message persists before closing itself.
		"chatPersistTime" : {
			"value" : 2.0,
			"type" : "slider",
			"order" : 3,
			"title" : "settingPersistTime",
			"minimum" : 0.0,
			"maximum" : 10.0,
			"delta" : 0.1
		},
		// The time in seconds message transitions take before becoming the next state.
		"chatTransitionTime" : {
			"value" : 0.4,
			"type" : "slider",
			"order" : 4,
			"title" : "settingTransitionTime",
			"minimum" : 0.0,
			"maximum" : 5.0,
			"delta" : 0.1
		},
		// Enables debug mode.
		"notifyOnRestock" : {
			"value" : false,
			"type" : "check",
			"order" : 5,
			"title" : "settingNotifyRestock"
		}
	},
	
	// The amount of shots required for the GalGun to convert an NPC.
	"galGunSteps" : 20,
	
	// The amount of Munie required to quick travel using the HunieBee.
	"quickTravelFee" : 10,
	
	// These are the configs related to the romantic economy.
	"shopConfig" : {
		// This is the amount of Munie you get per relationship value.
		"munieRatio" : 10,
		
		// The amount of time each rotation in Kyu's Venusian Deals lasts, in seconds.
		"shopRotationTime" : 1800,
		
		// This section uses player.hasCompletedQuest(`String` questId) to check for if the related quest has been completed.
		// It is suggested to use the extra quest for any non essential items that add new mechanics.
		// Mainline quests are reserved for essential mechanics unlocks.
		"permanentSelection" : [
			{ "key" : "p01", "item" : { "name" : "moth_munie", "count" : 200, "parameters" : {} }, "inventory" : 5, "price" : 999, "currency" : "money", "quest" : "moth_coldhardcash" },
			{ "key" : "p02", "item" : { "name" : "moth_huniebee", "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie", "quest" : "moth_coldhardcash" },
			{ "key" : "p03", "item" : { "name" : "moth_giftwrap", "parameters" : {} }, "inventory" : 10, "price" : 9, "currency" : "moth_munie", "quest" : "moth_firstfriend" }, 			// flag - "firstFriend"
			{ "key" : "p04", "item" : { "name" : "moth_proofofcitizenship", "parameters" : {} }, "inventory" : 3, "price" : 499, "currency" : "moth_munie", "quest" : "moth_quicktravel" },	// flag - "quickTravel"
			{ "key" : "p05", "item" : { "name" : "moth_weddingring", "parameters" : {} }, "inventory" : 1, "price" : 999, "currency" : "moth_munie", "quest" : "moth_maxnpc" }, 			// flag - "maxOutNPC"
			{ "key" : "p06", "item" : { "name" : "moth_divorcepapers", "parameters" : {} }, "inventory" : 1, "price" : 999, "currency" : "moth_munie", "quest" : "moth_madwife" }, 			// flag - "angerSpouse"
			// moth_muniecap unlocks the rotating shop, hence why there is a jump in numbers. 																								// flag - "munieCap"
			{ "key" : "p07", "item" : { "name" : "moth_galgun", "parameters" : {} }, "inventory" : 1, "price" : 1999, "currency" : "moth_munie", "quest" : "moth_badrelationship" } 		// flag - "firstAnnoyance"
		],
		
		"rotatingGifts" : {
			"size" : 1,
			"selection" : [
				[1.0, { "key" : "g01", "item" : { "name" : "moth_venusianambrosia", "count" : 1, "parameters" : {} }, "inventory" : 1, "price" : 999, "currency" : "moth_munie" }],
				[1.0, { "key" : "g02", "item" : { "name" : "moth_whitetulip", "count" : 1, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g03", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftMiscName",
					"itemTags" : [ "moth_present", "moth_miscellaneous" ],
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g04", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftLiteratureName",
					"itemTags" : [ "moth_present", "moth_literature" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/literature.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g05", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftFoodName",
					"itemTags" : [ "moth_present", "moth_food" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/food.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g06", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftWeaponsName",
					"itemTags" : [ "moth_present", "moth_weapons" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/weapons.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g07", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftFossilsName",
					"itemTags" : [ "moth_present", "moth_fossils" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/fossils.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g08", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftInstrumentsName",
					"itemTags" : [ "moth_present", "moth_instruments" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/instruments.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g09", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftPetsName",
					"itemTags" : [ "moth_present", "moth_pets" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/pets.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g10", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftFurnitureName",
					"itemTags" : [ "moth_present", "moth_furniture" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/furniture.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g11", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftBugsName",
					"itemTags" : [ "moth_present", "moth_bugs" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/bugs.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g12", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftActionfiguresName",
					"itemTags" : [ "moth_present", "moth_actionfigures" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/actionfigures.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g13", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftOutfitsName",
					"itemTags" : [ "moth_present", "moth_outfits" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/outfits.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }],
				[1.0, { "key" : "g14", "item" : { "name" : "moth_gift", "count" : 1, "parameters" : {
					"entryshortdescription" : "giftJunkName",
					"itemTags" : [ "moth_present", "moth_junk" ],
					"inventoryIcon" : "/items/active/moth_giftwrap/categories/junk.png",
					"entrydescription" : "giftPristineDescription",
					"rarity" : "Essential",
					"durabilityHit" : 150
				} }, "inventory" : 1, "price" : 499, "currency" : "moth_munie" }]
			]
		},
		
		"rotatingConsumables" : {
			"size" : 2,
			"selection" : [
				[1.0, { "key" : "c01", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "c02", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "c03", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "c04", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "c05", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "c06", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }]
			]
		},
		
		"rotatingUpgrades" : {
			"size" : 1,
			"selection" : [
				[1.0, { "key" : "u01", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "u02", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "u03", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "u04", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "u05", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }],
				[1.0, { "key" : "u06", "item" : { "name" : "moth_munie", "count" : 100, "parameters" : {} }, "inventory" : 1, "price" : 499, "currency" : "money" }]
			]
		}
	},
	
	// These are the possible date spots you can take someone to.
	"dateConfig" : [
		"/interface/scripted/moth_romance/locations/0.png?scalenearest=0.5", 
		"/interface/scripted/moth_romance/locations/1.png?scalenearest=0.5", 
		"/interface/scripted/moth_romance/locations/2.png?scalenearest=0.5", 
		"/interface/scripted/moth_romance/locations/3.png?scalenearest=0.5", 
		"/interface/scripted/moth_romance/locations/4.png?scalenearest=0.5", 
		"/interface/scripted/moth_romance/locations/5.png?scalenearest=0.5"
	]
}