{
	// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	// Unlike the other files, this file NEEDS to be fully translated in order to work well, since the translations set here are meant to be set in stone instead of a per-pack basis.
	// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	// GENERIC
	
	"wip" : "Coming Soon °",
	"notLearned" : "Yet to be Learned",
	"refreshed" : "Refreshed",
	"loading" : "Waiting for reply",
	
	"Annoyance" : "Annoyance",
	"Acquaintance" : "Acquaintance",
	"Friend" : "Friend",
	"Lover" : "Lover",
	"BestFriend" : "Best Friend",
	"Spouse" : { 
		"neutral" : "Spouse", 
		"male" : "Husband", 
		"female" : "Wife" 
	},
	
	"heterosexual" : "Straight",
	"homosexual" : { 
		"neutral" : "Homosexual", 
		"male" : "Gay", 
		"female" : "Lesbian" 
	},
	"pansexual" : "Pansexual",
	"asexual" : "Asexual",
	
	
	
	// SETTINGS
	"version" : "Current version",
	"settingTitle" : "Matters of the Heart settings",
	"settingSubtitle" : "Customise your experience!",
	"settingSave" : "Save Settings",
	"settingReset" : "Reset Settings",
	"settingDebug" : "Enable debug mode",
	"settingTextSpeed" : "Characters per second",
	"settingPersistTime" : "Chat persist time",
	"settingTransitionTime" : "Chat transition time",
	"settingNotifyRestock" : "Notify on Deals Restock",
	
	
	
	// KYU'S VENUSIAN DEALS
	// shopTitle's %s is equal to Kyu's name (Kyu)
	"shopTitle" : "%s's Venusian Deals",
	"shopSubtitle" : "New stuff every so often!",
	"availableEntry" : "'Sup, <entityname>? Here's all my latest deals!",
	"order" : "Pre-Order",
	"buy" : "Purchase",
	// %s here is equal to the time left since the next rotation
	"rotationLabel" : "Time until next rotation : %s",
	// %s here is equal to the amount of items left to buy
	"inventoryLabel" : "%s Left",
	"inf" : "Infinite Stock",
	"kyuAi" : "LOVE.NET",
	"tutorialMessage" : "First time pre-ordering from the Venusian Deals? No problem. Any item you pre-order will get shipped to our retailers, such as the one found in the outpost. Talk to them in order for your products to be received.",
	"restockMessage" : "Kyu's Venusian Deals have fully restocked and refreshed! Make sure to take a look at the new rotation!",
	
	// In the quest related stuff, %s is equal to Kyu's name (Kyu)
	"quest_failureText" : "Tch. Here I thought you wouldn't waste my time.",
	"quest_turnInDescription" : "Return to ^orange;%s^reset; in the ^orange;Outpost^reset;",
	"quest_coldhardcash_title" : "^green;To Romance the World - I",
	"quest_coldhardcash_text" : "Hey there good lookin'! Are you interested in going out? Not with me, of course, but with other people you meet! See, I have the perfect thing juuuuust for you, but... It'll cost ya! Ever since the Earth blew up, the universe started using lame Pixels as their currency. ^orange;I want REAL cash. Get me some ol' fashioned bills^reset;, then I'll show you the world of love. ^green;(You can find ^orange;Cold & Hard Cash^green; inside the Erchius mission.)^reset;",
	"quest_coldhardcash_objective" : "Find ^orange;Cold & Hard Cash^reset; in the ^green;Erchius Mission^reset;.",
	"quest_coldhardcash_completionText" : "Ahhh! The real stuff! Perfect, alright, since you begged me so hard, let me show you the world of love~ ^green;(The HunieBee has been unlocked in %s's store.)^reset;",
	"quest_firstfriend_title" : "^green;To Romance the World - II",
	"quest_firstfriend_text" : "Alright! Buy yourself one of those little gadgets; the HunieBees. They're basically just a fancy cellphone with a cupid's touch, has all the dating apps you could possibly need. Go meet some folks, try ^orange;making your first friend^reset;. I know it's going to be hard for you, but do that and I'll let you get your hands on the next gimmick. ^green;(Make your first ^orange;Friend^green; using the HunieBee.)^reset;",
	"quest_firstfriend_objective" : "^orange;Make a friend^reset; using the HunieBee.",
	"quest_firstfriend_completionText" : "See there you go! Not much of a loser anymore, huh? Well, how about ^orange;giving stuff to your conquests^reset; to make it easier, huh? ^green;(Gift Wrap has been unlocked in %s's store.)^reset;",
	"quest_quicktravel_title" : "^green;To Romance the World - III",
	"quest_quicktravel_text" : "You're doin' great! Now that you've got a friend, buddy up some more with 'em, and they'll let you in at any moment. ^orange;Quick travel to a lover^reset; so you can quickly catch it for a date! Because love stops at no bounds! Except for money. Duh! ^green;(^orange;Quick travel^green; to a ^orange;lover^green;.)^reset;",
	"quest_quicktravel_objective" : "^orange;Quick travel^reset; to a ^orange;lover^reset;.",
	"quest_quicktravel_completionText" : "Super convenient, now isn't that? This should allow you to super quickly catch up on your lovers, story of getting more stuff done. ^green;(The Proof of Citizenship has been unlocked in %s's store.)^reset;",
	"quest_maxnpc_title" : "^green;To Romance the World - IV",
	"quest_maxnpc_text" : "Getting yourself acquainted with both the phone and folks now are you? So the next logical step is to get Married, obviously! ^orange;Make someone love you^reset; and ^orange;learn everything about them^reset;, then the ring shall be yours. ^green;(^orange;Max out relationship^green; and ^orange;learn everything^green; with an NPC.)^reset;",
	"quest_maxnpc_objective" : "^orange;Max out everything with an NPC^reset;.",
	"quest_maxnpc_completionText" : "Bet you made them fall for you! I'm now offering ^orange;the killing blow^reset;, make sure to buy it! ^green;(The Wedding Ring has been unlocked in %s's store.)^reset;",
	"quest_madwife_title" : "^green;To Romance the World - V",
	"quest_madwife_text" : "So how's the wedding been? Going great? No? Well, that sucks. Anyways, there's a solution for everything! ^orange;Anger your spouse a bit^reset;, I'll take care of the rest. ^green;(^orange;Decrease the relationship status^green; of your spouse.)^reset;",
	"quest_madwife_objective" : "^orange;Decrease the relationship status^reset; of your spouse.",
	"quest_madwife_completionText" : "Bet they're real mad with you now. ^orange;Here's the documents^reset;, you do the rest. ^green;(The Divorce Papers have been unlocked in %s's store.)^reset;",

	"quest_muniecap_title" : "^green;How I met your Mother - I",
	"quest_muniecap_text" : "Surely all this Munie you're bankin' serves a real purpose, right? It sure does, and the point is to give it to me! Alot! ^orange;Get a bunch of cash^reset; and give it all to me! I'll make it worth your while, I'll show you the real goods! ^green;(Accumulate ^orange;5000 Munie^green;.)^reset;",
	"quest_muniecap_objective" : "Accumulate ^orange;5000 Munie^reset;.",
	"quest_muniecap_completionText" : "So much cash! I knew you were a real pay piggy~~ Now, let me show my king the way to the goods... ^green;(The Rotating Store has been unlocked in %s's store.)^reset;",
	"quest_badrelationship_title" : "^green;How I met your Mother - II",
	"quest_badrelationship_text" : "You know how there's plenty fish in the sea right? Well some of them are real ugly and you want to punch them in the face... No? Just me? Well, fine then, but regardless, ^orange;make someone hate your guts^reset;! No challenge for you right? Just throw junk at 'em! ^green;(Become an ^orange;Annoyance^green; to an NPC using the HunieBee.)^reset;",
	"quest_badrelationship_objective" : "^orange;Become an Annoyance^reset; using the HunieBee.",
	"quest_badrelationship_completionText" : "What was the purpose of that huh... None! It's just pretty funny. Anyways, on an unrelated note, I'm selling a gun to pacify baddies! Dating your captor is now possible! ^green;(The Gal*Gun has been unlocked in %s's store.)^reset;",
	
	
	
	// ROMANCE
	// romanceTitle's %s is equal to the NPC's name
	"romanceTitle" : "Flirting with %s",
	"romanceSubtitle" : "Develop your relationship with this potential love interest!",
	"romanceQueueLeftMulti" : "%s messages left",
	"romanceQueueLeft" : "%s message left",
	
	"btnConfirm" : "Confirm",
	"btnBack" : "Go Back",
	"btnTalk" : "Chat",
	"btnGift" : "Gift",
	"btnDate" : "Go on a Date",
	"btnProcreate" : "Try for Baby",
	"btnProcreateRequirement" : "Requires full Overhearts",
	"btnProcreateLocked" : "???",
	"babyLabel" : "Baby Name :",
	"babyGender" : { 
		"neutral" : "It's gender neutral!", 
		"male" : "It's a boy!", 
		"female" : "It's a girl!" 
	},
	
	
	
	// HUNIEBEE
	"huniebeeTitle" : "The HunieBee",
	"huniebeeSubtitle" : "Look up everyone you've interacted with!",
	
	"search" : "Search",
	"canQuickTravel" : "CAN QUICK TRAVEL",
	"contacts" : "CONTACTS",
	"profile" : "PROFILE",
	"selectContact" : "Select a contact",
	"relationshipLevel" : "Relationship Level",
	"lastInteractedWith" : "Last Interacted With",
	"lovedGiftType" : "Loved Gift Type",
	"likedGiftType" : "Liked Gift Type",
	"dislikedGiftType" : "Disliked Gift Type",
	"hatedGiftType" : "Hated Gift Type",
	"sexuality" : "Sexuality",
	"romanticAffinity" : "Romantic Affinity",
	// affinityDisplay's first %s is equal to the positive affinity multiplier
	// affinityDisplay's second %s is equal to the negative affinity multiplier
	"affinityDisplay" : "%sx Gain   |   %sx Loss",
	// The %s in the eight following values is equal to a number.
	"second" : "%s second",
	"seconds" : "%s seconds",
	"minute" : "%s minute",
	"minutes" : "%s minutes",
	"hour" : "%s hour",
	"hours" : "%s hours",
	"day" : "%s day",
	"days" : "%s days",
	"quickTravel" : "Quick Travel",
	"quickTravelRelationship" : "Friendship Required",
	"quickTravelRequirement" : "Requires 10 Munie",
	"deleteContact" : "[PERMANENT] Delete Contact",
	"confirmDelete" : "[CONFIRM DELETION]",
	"immigrate" : "Immigrate NPC",
	"immigrateRelationship" : "Best Friend/Lover Required",
	"immigrateRequirement" : "Requires Proof Of Citizenship",
	
	
	
	// ITEMS
	"kyuOutfitHeadName" : "Kyu's Hair",
	"kyuOutfitHeadDescription" : "Fairy wig!",
	"headwear" : "Head Cosmetic",
	"kyuOutfitBackName" : "Kyu's Wings",
	"kyuOutfitBackDescription" : "Fairy wings!",
	"backwear" : "Back Cosmetic",
	"kyuOutfitChestName" : "Kyu's Corset",
	"kyuOutfitChestDescription" : "Fairy corset!",
	"chestwear" : "Chest Cosmetic",
	"kyuOutfitLegsName" : "Kyu's Dress",
	"kyuOutfitLegsDescription" : "Fairy dress!",
	"legwear" : "Legs Cosmetics",
	
	// graveName's %s is equal to the name of the dead NPC.
	"graveName" : "%s's Grave",
	// graveDescription's first %s is equal to the name of the dead NPC.
	// graveDescription's second %s is equal to the date of death.
	"graveDescription" : "R.I.P %s - %s - You will be missed.",
	"stranger" : "Stranger",
	
	"currency" : "Currency",
	"munieName" : "^green;Munie^reset;",
	"munieDescription" : "Some Munie, used to buy stuff related to romance.",
	"romanticTool" : "Romantic Tool",
	"perfectlyRomanticItemName" : "^#d35eae;Perfectly Romantic Item^reset;",
	"perfectlyRomanticItemDescription" : "This item is so romantic, I want to marry it NOW!",
	"perfectlyDespicableItemName" : "^#6a2284;Perfectly Despicable Item^reset;",
	"perfectlyDespicableItemDescription" : "This item is so despicable, I want to kill it NOW!",
	"giftwrapName" : "^reset;Gift Wrap",
	"giftwrapDescription" : "This can be used to gift wrap an item with a right-click.",
	"huniebeeName" : "^reset;The ^pink;Hunie^yellow;Bee^reset;",
	"huniebeeDescription" : "A special phone to allow the user to peer into the world of romance!",
	"galgunName" : "^reset;^#d35eae;Gal^#fdd14d;*^#008cd9;Gun^reset;",
	"galgunDescription" : "A mythical device that can convert even the most hostile into love interests.",
	"weddingRingName" : "Wedding Ring",
	"weddingRingDescription" : "A something special for a special someone.",
	"divorcePapersName" : "Divorce Papers",
	"divorcePapersDescription" : "For when things really don't work out.",
	"proofCitizenName" : "Proof of Citizenship",
	"proofCitizenDescription" : "Allows a friend to immigrate to your location.",
	"quest" : "Quest Item",
	"coldhardcashName" : "Cold & Hard Cash",
	"coldhardcashDescription" : "How these ancient earth currencies have managed to stay frozen is beyond us.",
	
	"questCookieName" : "Quest Cookie",
	"questCookieDescription" : "No one can dislike Quest Cookies!",
	"venusianAmbrosiaName" : "Venusian Ambrosia",
	"venusianAmbrosiaDescription" : "A divine drink with exquisite taste, everyone loves it!",
	"whiteTulipName" : "White Tulip",
	"whiteTulipDescription" : "Symbolises new beginnings and a fresh start.",
	"greenOrchidName" : "Green Orchid",
	"greenOrchidDescription" : "Symbolises prosperity, blessings and fresh cooldowns.",
	"orchidBouquetName" : "Orchid Bouquet",
	"orchidBouquetDescription" : "Best consumed (re)fresh(es all cooldowns).",
	
	// babyName and eggName's %s is equal to the race of the baby
	"baby" : "Baby",
	"babyDescription" : "This %s baby will need some time before growing up.",
	"babyAlmost" : "This %s baby is about to grow up!",
	"babyReady" : "This %s baby is ready to grow up!",
	"egg" : "Egg",
	"eggDescription" : "This %s egg will need some time to incubate.",
	"eggAlmost" : "This %s egg is about to hatch!",
	"eggReady" : "This %s egg is ready to hatch!",
	
	"unknownCategoryName" : "Unknown Type",
	"unknownCategoryDescription" : "Try gifting them presents in order to learn this!",
	"giftDescription" : "This may be given to a date or opened by using it.",
	"giftPristineDescription" : "This gift will have a much bigger romantic impact than traditional gifts.",
	"giftLiteratureName" : "Literary Gift",
	"giftFoodName" : "Tasty Gift",
	"giftWeaponsName" : "Deadly Gift",
	"giftFossilsName" : "Ancient Gift",
	"giftInstrumentsName" : "Musical Gift",
	"giftPetsName" : "Rowdy Gift",
	"giftFurnitureName" : "Decorating Gift",
	"giftBugsName" : "Buzzin' Gift",
	"giftActionfiguresName" : "Collectable Gift",
	"giftMiscName" : "Mysterious Gift",
	"giftOutfitsName" : "Cosmetic Gift",
	"giftJunkName" : "Horrible 'Gift'" 
}