{
	"portraitPosition" : [-20, -20],
	"portraitScale" : 4,
	
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/moth_romance/header.png",
			"fileBody": "/interface/scripted/moth_romance/body.png",
			"fileFooter": "/interface/scripted/moth_romance/footer.png"
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "Flirting with XYZ",
			"subtitle" : " ^#b9b5b2;Develop your relationship with this potential love interest!",
			"position" : [0, 0],
			"icon" : {
				"type" : "image",
				"file" : "/interface/crafting/heartforge.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},
		"close": {
			"type": "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset": [0, -2],
			"position": [329, 215]
		},
		"config" : {
			"type" : "button",
			"base" : "/interface/cog.png",
			"hover" : "/interface/coghover.png",
			"pressed" : "/interface/cogpress.png",
			"callback" : "button_config",
			"pressedOffset" : [0, 0],
			"position" : [317, 215]
		},
		"portraitLayout" : {
			"type" : "layout",
			"layoutType" : "basic",
			"rect" : [1, 47, 344, 208],
			"children" : {
				/*"debugCube" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/debugcube.png",
					"position" : [-20, -20],
					"zlevel" : 1
				},*/
				"background" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/background.png",
					"position" : [0, 0],
					"scale" : 1,
					"zlevel" : 0
				},
				"personalityColor" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/colorscreen.png",
					"position" : [0, 0],
					"scale" : 400,
					"zlevel" : 0
				},
				"portraitEmote" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/empty.png",
					"position" : [0, 0],
					"scale" : 5,
					"zlevel" : -2
				}
			}
		},
		"heartsLayout" : {
			"type" : "layout",
			"layoutType" : "basic",
			"rect" : [5, 25, 341, 45],
			"children" : {
				"heart1" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [0, 8],
					"zlevel" : 1
				},
				"heart2" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [9, 0],
					"zlevel" : 1
				},
				"heart3" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [18, 8],
					"zlevel" : 1
				},
				"heart4" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [27, 0],
					"zlevel" : 1
				},
				"heart5" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [36, 8],
					"zlevel" : 1
				},
				"heart6" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [45, 0],
					"zlevel" : 1
				},
				"heart7" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [54, 8],
					"zlevel" : 1
				},
				"heart8" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [63, 0],
					"zlevel" : 1
				},
				"heart9" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [72, 8],
					"zlevel" : 1
				},
				"heart10" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/heart_empty.png",
					"position" : [81, 0],
					"zlevel" : 1
				}
			}
		},
		"relationshipStatus" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "mid",
			"position" : [318, 35],
			"wrapWidth" : 150,
			"zlevel" : 1,
			"value" : "^shadow;Acquaintance"
		},
		"badge" : {
			"type" : "image",
			"file" : "/interface/scripted/moth_romance/badges/cheerful.png",
			"position" : [320, 25],
			"zlevel" : 1
		},
		"married" : {
			"type" : "image",
			"file" : "/interface/scripted/moth_romance/badges/married.png",
			"visible" : false,
			"position" : [97, 25],
			"zlevel" : 1
		},
		"busy" : {
			"type" : "image",
			"visible" : false,
			"file" : "/interface/scripted/moth_romance/busy.png:1",
			"position" : [317, 50],
			"zlevel" : 1
		},
		"busyHint" : {
			"type" : "label",
			"hAnchor" : "left",
			"position" : [240, 50],
			"wrapWidth" : 150,
			"zlevel" : 1,
			"value" : "^shadow;"
		},
		"buttonBox" : {
			"type" : "layout",
			"layoutType" : "basic",
			"rect" : [1, 47, 344, 208],
			"children" : {
				"queueSize" : {
					"type" : "label",
					"hAnchor" : "left",
					"vAnchor" : "top",
					"position" : [2, 160],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : ""
				},
				"btnConfirm" : {
					"type" : "button",
					"position" : [0, 0],
					"caption" : "Confirm",
					"callback": "button_confirm",
					"base" : "/interface/scripted/moth_romance/confirmbutton.png",
					"hover" : "/interface/scripted/moth_romance/confirmbuttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/confirmbuttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/confirmbuttondisabled.png",
					"pressedOffset" : [0, -1],
					"visible" : false
				},
				"btnBack" : {
					"type" : "button",
					"position" : [0, 0],
					"caption" : "Go back",
					"callback": "button_back",
					"base" : "/interface/scripted/moth_romance/confirmbutton.png",
					"hover" : "/interface/scripted/moth_romance/confirmbuttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/confirmbuttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/confirmbuttondisabled.png",
					"pressedOffset" : [0, -1],
					"visible" : false
				},
				"btnProcreate" : {
					"type" : "button",
					"position" : [193, 140],
					"caption" : "???",
					"callback": "button_procreate",
					"base" : "/interface/scripted/moth_romance/button.png",
					"hover" : "/interface/scripted/moth_romance/buttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/buttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/buttondisabled.png",
					"pressedOffset" : [0, -1],
					"disabled" : true
				},
				"btnDate" : {
					"type" : "button",
					"position" : [203, 120],
					"caption" : "Date",
					"callback": "button_date",
					"base" : "/interface/scripted/moth_romance/button.png",
					"hover" : "/interface/scripted/moth_romance/buttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/buttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/buttondisabled.png",
					"disabled" : true,
					"pressedOffset" : [0, -1]
				},
				"btnGift" : {
					"type" : "button",
					"position" : [213, 100],
					"caption" : "Gift",
					"callback": "button_gift",
					"base" : "/interface/scripted/moth_romance/button.png",
					"hover" : "/interface/scripted/moth_romance/buttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/buttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/buttondisabled.png",
					"pressedOffset" : [0, -1]
				},
				"btnKiss" : {
					"type" : "button",
					"position" : [223, 80],
					"caption" : "Kiss/Hug",
					"callback": "button_kiss",
					"base" : "/interface/scripted/moth_romance/button.png",
					"hover" : "/interface/scripted/moth_romance/buttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/buttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/buttondisabled.png",
					"disabled" : true,
					"pressedOffset" : [0, -1]
				},
				"btnTalk" : {
					"type" : "button",
					"position" : [233, 60],
					"caption" : "Chat",
					"callback": "button_talk",
					"base" : "/interface/scripted/moth_romance/button.png",
					"hover" : "/interface/scripted/moth_romance/buttonhover.png",
					"pressed" : "/interface/scripted/moth_romance/buttonhover.png",
					"disabledImage" : "/interface/scripted/moth_romance/buttondisabled.png",
					"pressedOffset" : [0, -1]
				},
				"answerButton1" : {
					"type" : "button",
					"position" : [193, 107],
					"callback" : "button_answer",
					"data" : 1,
					"base" : "/interface/scripted/moth_romance/answerbubble.png",
					"hover" : "/interface/scripted/moth_romance/answerbubblehover.png",
					"pressed" : "/interface/scripted/moth_romance/answerbubblehover.png",
					"disabledImage" : "/interface/scripted/moth_romance/answerbubbledisabled.png",
					"pressedOffset" : [0, -1],
					"visible" : false
				},
				"answerText1" : {
					"type" : "label",
					"hAnchor" : "mid",
					"vAnchor" : "mid",
					"position" : [265, 134],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : "",
					"visible" : false
				},
				"answerButton2" : {
					"type" : "button",
					"position" : [193, 54],
					"callback" : "button_answer",
					"data" : 2,
					"base" : "/interface/scripted/moth_romance/answerbubble.png",
					"hover" : "/interface/scripted/moth_romance/answerbubblehover.png",
					"pressed" : "/interface/scripted/moth_romance/answerbubblehover.png",
					"disabledImage" : "/interface/scripted/moth_romance/answerbubbledisabled.png",
					"pressedOffset" : [0, -1],
					"visible" : false
				},
				"answerText2" : {
					"type" : "label",
					"hAnchor" : "mid",
					"vAnchor" : "mid",
					"position" : [265, 81],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : "",
					"visible" : false
				},
				"answerButton3" : {
					"type" : "button",
					"position" : [193, 1],
					"callback" : "button_answer",
					"data" : 3,
					"base" : "/interface/scripted/moth_romance/answerbubble.png",
					"hover" : "/interface/scripted/moth_romance/answerbubblehover.png",
					"pressed" : "/interface/scripted/moth_romance/answerbubblehover.png",
					"disabledImage" : "/interface/scripted/moth_romance/answerbubbledisabled.png",
					"pressedOffset" : [0, -1],
					"visible" : false
				},
				"answerText3" : {
					"type" : "label",
					"hAnchor" : "mid",
					"vAnchor" : "mid",
					//72, 26 + button pos
					"position" : [265, 28],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : "",
					"visible" : false
				},
				"babyButton" : {
					"type" : "button",
					"position" : [273, 25],
					"callback": "button_randomName",
					"base" : "/interface/scripted/moth_romance/dice.png",
					"hover" : "/interface/scripted/moth_romance/dicehover.png",
					"pressed" : "/interface/scripted/moth_romance/dicehover.png",
					"disabledImage" : "/interface/scripted/moth_romance/dice.png",
					"pressedOffset" : [0, -1],
					"visible" : false
				},
				"babyLabelGender" : {
					"type" : "label",
					"hAnchor" : "mid",
					"vAnchor" : "bottom",
					"position" : [226, 71],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : "debug",
					"visible" : false
				},
				"babyLabelGenderShadow" : {
					"type" : "label",
					"hAnchor" : "mid",
					"vAnchor" : "bottom",
					"position" : [226, 70],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : "debug",
					"visible" : false
				},
				"babyLabel" : {
					"type" : "label",
					"hAnchor" : "mid",
					"vAnchor" : "bottom",
					//72, 26 + button pos
					"position" : [226, 63],
					"wrapWidth" : 140,
					"zlevel" : 3,
					"value" : "^shadow;Baby Name : ^reset;",
					"visible" : false
				},
				"babyInputBg" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/input.png",
					"position" : [160, 50],
					"zlevel" : -3,
					"visible" : false
				},
				"babyInput" : {
					"callback" : "input_babyname",
					"type" : "textbox",
					"position" : [165, 51],
					"textAlign" : "center",
					"maxWidth" : 117,
					"regex" : "^(.{1,20})$",
					"visible" : false
				},
				"giftSelect" : {
					"type" : "scrollArea",
					"visible" : false,
					"rect" : [1, 1, 342, 32],
					"buttons" : {
						"horizontal" : {
							"forward" : {
								"base" : "/interface/scripted/moth_romance/varrow-forward.png",
								"hover" : "/interface/scripted/moth_romance/varrow-forwardhover.png",
								"pressed" : ""
							},
							"backward" : {
								"base" : "/interface/scripted/moth_romance/varrow-backward.png",
								"hover" : "/interface/scripted/moth_romance/varrow-backwardhover.png",
								"pressed" : ""
							}
						},
						"vertical" : {
							"forward" : { "base" : "", "hover" : "", "pressed" : "" },
							"backward" : { "base" : "", "hover": "", "pressed" : "" }
						}
					},
					"thumbs" : {
						"horizontal" : {
							"base" : {
								"begin" : "/interface/scripted/moth_romance/vthumb-begin.png",
								"end" : "/interface/scripted/moth_romance/vthumb-end.png",
								"inner" : "/interface/scripted/moth_romance/vthumb-inner.png"
							},
							"hover" : {
								"begin" : "/interface/scripted/moth_romance/vthumb-beginhover.png",
								"end" : "/interface/scripted/moth_romance/vthumb-endhover.png",
								"inner" : "/interface/scripted/moth_romance/vthumb-innerhover.png"
							},
							"pressed" : {
								"begin" : "/interface/scripted/moth_romance/vthumb-beginhover.png",
								"end" : "/interface/scripted/moth_romance/vthumb-endhover.png",
								"inner" : "/interface/scripted/moth_romance/vthumb-innerhover.png"
							}
						},
						"vertical" : {
							"base" : { "begin" : "", "end" : "", "inner" : "" },
							"hover" : { "begin" : "", "end" : "", "inner" : "" },
							"pressed" : { "begin" : "", "end" : "", "inner" : "" }
						}
					},
					"horizontalScroll" : true,
					"verticalScroll" : false,
					"children" : {
						"itemList" : {
							"type" : "list",
							"callback" : "scrollArea_gift",
							"columns" : 1337,
							"schema" : {
								"selectedBG" : "/interface/scripted/moth_romance/itemslotselected.png",
								"unselectedBG" : "/interface/scripted/moth_romance/itemslot.png",
								"spacing" : [0, 0],
								"memberSize" : [24, 30],
								"listTemplate" : {
									"background" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/itemslot.png",
										"position" : [0, 7],
										"zlevel" : -1
									},
									"present" : {
										"type" : "itemslot",
										"position" : [2, 9],
										"callback" : "null",
										"rightClickCallback" : "null",
										"showDurability" : true,
										"backingImage" : "/interface/scripted/moth_romance/empty.png",
										"zlevel" : 2
									}
								}
							}
						},
						"bottomLabel": {
						  "type" : "label",
						  "position" : [0, 0],
						  "value" : " "
						},
						"topLabel": {
						  "type" : "label",
						  "position" : [1, 0],
						  "value" : " "
						}
					}
				},
				"dateSelect" : {
					"type" : "scrollArea",
					"visible" : false,
					"rect" : [222, 1, 342, 160],
					"children" : {
						"itemList" : {
							"type" : "list",
							"callback" : "scrollArea_date",
							"schema" : {
								"selectedBG" : "/interface/scripted/moth_romance/locationselected.png",
								"unselectedBG" : "/interface/scripted/moth_romance/location.png",
								"spacing" : [0, 1],
								"memberSize" : [110, 74],
								"listTemplate" : {
									"background" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/location.png",
										"position" : [0, 0],
										"zlevel" : 2
									},
									"location" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/locations/0.png?scalenearest=0.5",
										"position" : [0, 0],
										"zlevel" : 1
									}		
								}
							}
						}
					}
				}
			}
		},
		"chatbubble" : {
			"zlevel" : 2,
			"type" : "canvas",
			"rect" : [2, 48, 342, 98],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},
		"chatbubbleText" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "top",
			"position" : [16, 89],
			// 28 less than the bubble width
			"wrapWidth" : 312,
			"zlevel" : 3,
			"value" : ""
		}
	},
	"giftSelectList" : {
		"type" : "list",
		"visible" : false,
		"callback" : "scrollArea_gift",
		"columns" : 1337,
		"schema" : {
			"selectedBG" : "/interface/scripted/moth_romance/itemslotselected.png",
			"unselectedBG" : "/interface/scripted/moth_romance/itemslot.png",
			"spacing" : [-1, 0],
			"memberSize" : [24, 30],
			"listTemplate" : {
				"background" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_romance/itemslot.png",
					"position" : [0, 8],
					"zlevel" : -1
				},
				"present" : {
					"type" : "itemslot",
					"position" : [2, 10],
					"callback" : "null",
					"rightClickCallback" : "null",
					"showDurability" : true,
					"backingImage" : "/interface/scripted/moth_romance/empty.png",
					"zlevel" : 2
				}
			}
		}
	},

	"scriptWidgetCallbacks": [
		"scrollArea_gift",
		"scrollArea_date",
		"input_babyname",
		"button_config",
		"button_talk",
		"button_gift",
		"button_date",
		"button_kiss",
		"button_procreate",
		"button_randomName",
		"button_answer",
		"button_confirm",
		"button_back"
	],

	"canvasClickCallbacks" : {
		"chatbubble" : "skipText"
	},

	"scripts": ["/interface/scripted/moth_romance/moth_romance.lua"],
	"scriptDelta": 1,

	"serializeSelection": true
}