{
	"gui": {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/scripted/moth_huniebee/header.png",
			"fileBody" : "/interface/scripted/moth_huniebee/body.png",
			"fileFooter" : "/interface/scripted/moth_huniebee/footer.png"
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "The HunieBee",
			"subtitle" : " ^#b9b5b2;Look up the numbers of your relationships and your personal notes!",
			"position" : [-5, 252],
			"icon" : {
				"type" : "image",
				"file" : "/interface/crafting/heartforge.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [321, 261]
		},
		"config" : {
			"type" : "button",
			"base" : "/interface/cog.png",
			"hover" : "/interface/coghover.png",
			"pressed" : "/interface/cogpress.png",
			"callback" : "button_config",
			"pressedOffset" : [0, 0],
			"position" : [309, 261]
		},
		"image_bgshine" : {
			"type" : "image",
			"file" : "/interface/crafting/shine.png",
			"position" : [-15, 0],
			"zlevel" : -10
		},
		"label_contacts" : {
			"type" : "label",
			"position" : [88, 245],
			"hAnchor" : "mid",
			"value" : "^#b9b5b2;CONTACTS"
		},
		"label_profile" : {
			"type" : "label",
			"position" : [265, 245],
			"hAnchor" : "mid",
			"value" : "^#b9b5b2;PROFILE"
		},
		"check_teleportable" : {
			"type" : "button",
			"base" : "/interface/scripted/moth_huniebee/checkbox.png",
			"baseImageChecked" : "/interface/scripted/moth_huniebee/checkboxcheck.png",
			"checkable" : true,
			"checked" : false,
			"position" : [40, 58]
		},
		"label_teleportable" : {
			"type" : "label",
			"position" : [51, 58],
			"hAnchor" : "left",
			"value" : "CAN QUICK TRAVEL"
		},

		"scrollArea_relationships" : {
			"type" : "scrollArea",
			"rect" : [5, 69, 174, 230],
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "scrollArea_relationships",
					"schema" : {
						"selectedBG" : "/interface/crafting/craftableselected2.png",
						"unselectedBG" : "/interface/crafting/craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20], //20 instead of 43
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/crafting/craftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"name" : {
								"type" : "label",
								"position" : [25, 10],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "Omg its me"
							},
							"relationship" : {
								"type" : "label",
								"position" : [152, 1],
								"hAnchor" : "right",
								"value" : "^#b9b5b2;Acquaintance"
							},
							"heartsLayout" : {
								"type" : "layout",
								"layoutType" : "basic",
								"rect" : [25, 3, 84, 9],
								"children" : {
									"heart1" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart.png",
										"position" : [0, 0],
										"zlevel" : 1
									},
									"heart2" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart.png",
										"position" : [6, 0],
										"zlevel" : 1
									},
									"heart3" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [12, 0],
										"zlevel" : 1
									},
									"heart4" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [18, 0],
										"zlevel" : 1
									},
									"heart5" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [24, 0],
										"zlevel" : 1
									},
									"heart6" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [30, 0],
										"zlevel" : 1
									},
									"heart7" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [36, 0],
										"zlevel" : 1
									},
									"heart8" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [42, 0],
										"zlevel" : 1
									},
									"heart9" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [48, 0],
										"zlevel" : 1
									},
									"heart10" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/heart_empty.png",
										"position" : [54, 0],
										"zlevel" : 1
									}
								}
							}
						}
					}
				}
			}
		},
		"textBox_filter" : {
			"type" : "textbox",
			"position" : [60, 43],
			"hint" : "Search",
			"maxWidth" : 80,
			"escapeKey" : "close",
			"enterKey" : "textBox_filter",
			"focus" : true
		},
		"profileLayout" : {
            "type" : "layout",
            "layoutType" : "basic",
            "rect" : [196, 216, 333, 240],
            "children" : {
				"portraitBorder" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_huniebee/portraitborder.png",
					"position" : [3, 1],
					"zlevel" : -1
				},
				"portraitLayout" : {
					"type" : "layout",
					"layoutType" : "basic",
					"rect" : [0, 4, 22, 40],
					"zlevel" : 1,
					"children" : {}
				},
				"name" : {
					"type" : "label",
					"position" : [29, 21],
					"hAnchor" : "left",
					"vAnchor" : "top",
					"wrapWidth" : 116,
					"value" : ""
				},
				"relationship" : {
					"type" : "label",
					"position" : [29, 3],
					"hAnchor" : "left",
					"vAnchor" : "bottom",
					"value" : "^#b9b5b2;Select a contact"
				}
			}
		},
		"scrollArea_data" : {
			"type" : "scrollArea",
			"rect" : [197, 92, 334, 215],
			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"spacing" : [0, 1],
						"selectedBG" : "/interface/scripted/moth_huniebee/databg.png",
						"unselectedBG" : "/interface/scripted/moth_huniebee/databg.png",
						"memberSize" : [127, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/moth_huniebee/databg.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							"title" : {
								"type" : "label",
								"position" : [9, 10],
								"hAnchor" : "left",
								"value" : ""
							},
							"description" : {
								"type" : "label",
								"position" : [120, 1],
								"hAnchor" : "right",
								"value" : ""
							},	
							"heartsLayout" : {
								"type" : "layout",
								"layoutType" : "basic",
								"rect" : [60, 3, 120, 9],
								"children" : {
									"heart1" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [0, 0],
										"zlevel" : 1
									},
									"heart2" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [6, 0],
										"zlevel" : 1
									},
									"heart3" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [12, 0],
										"zlevel" : 1
									},
									"heart4" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [18, 0],
										"zlevel" : 1
									},
									"heart5" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [24, 0],
										"zlevel" : 1
									},
									"heart6" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [30, 0],
										"zlevel" : 1
									},
									"heart7" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [36, 0],
										"zlevel" : 1
									},
									"heart8" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [42, 0],
										"zlevel" : 1
									},
									"heart9" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [48, 0],
										"zlevel" : 1
									},
									"heart10" : {
										"type" : "image",
										"file" : "/interface/scripted/moth_romance/empty.png",
										"position" : [54, 0],
										"zlevel" : 1
									}
								}
							},
							"itemSlot" : {
								"type" : "itemslot",
								"position" : [104, 1],
								"callback" : "null",
								"rightClickCallback" : "null",
								"hAnchor" : "left",
								"showBackingImageWhenFull" : false,
								"showBackingImageWhenEmpty" : false,
								"showRarity" : false,
								"backingImage" : "/interface/scripted/moth_romance/empty.png",
								"zlevel" : 2
							}
						}
					}
				}
			}
		},
		"button_quickTravel" : {
			"type" : "button",
			"position" : [200, 72],
			"caption" : "Quick Travel",
			"callback": "button_quickTravel",
			"disabled" : true,
			"base" : "/interface/scripted/moth_huniebee/upbutton.png",
			"hover" : "/interface/scripted/moth_huniebee/upbuttonhover.png",
			"pressed" : "/interface/scripted/moth_huniebee/upbuttonhover.png",
			"disabledImage" : "/interface/scripted/moth_huniebee/upbuttondisabled.png",
			"pressedOffset": [0, -1]
		},
		"button_removeContact" : {
			"type" : "button",
			"position" : [200, 56],
			"caption" : "[PERMANENT] Delete Contact",
			"callback": "button_removeContact",
			"disabled" : true,
			"base" : "/interface/scripted/moth_huniebee/midbutton.png",
			"hover" : "/interface/scripted/moth_huniebee/midbuttonhover.png",
			"pressed" : "/interface/scripted/moth_huniebee/midbuttonhover.png",
			"disabledImage" : "/interface/scripted/moth_huniebee/midbuttondisabled.png",
			"pressedOffset": [0, -1]
		},
		"button_immigrate" : {
			"type" : "button",
			"position" : [200, 41],
			"caption" : "Immigrate",
			"callback": "button_immigrate",
			"disabled" : true,
			"base" : "/interface/scripted/moth_huniebee/downbutton.png",
			"hover" : "/interface/scripted/moth_huniebee/downbuttonhover.png",
			"pressed" : "/interface/scripted/moth_huniebee/downbuttonhover.png",
			"disabledImage" : "/interface/scripted/moth_huniebee/downbuttondisabled.png",
			"pressedOffset": [0, -1]
		}
	},

	"scriptWidgetCallbacks": [
		"scrollArea_relationships", 
		"textBox_filter", 
		"check_teleportable", 
		"button_config",
		"button_quickTravel", 
		"button_removeContact", 
		"button_immigrate"
	],

	"scripts": ["/interface/scripted/moth_huniebee/moth_huniebee.lua"],
	"scriptDelta": 1,

	"serializeSelection": true
}