{
	"gui": {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/scripted/moth_settings/header.png",
			"fileBody" : "/interface/scripted/moth_settings/body.png",
			"fileFooter" : "/interface/scripted/moth_settings/footer.png"
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [157, 206]
		},
		"bgShine" : {
			"type" : "image",
			"file" : "/interface/scripted/moth_settings/shine.png",
			"position" : [0, 8],
			"zlevel" : -1
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "Matters of the Heart settings",
			"subtitle" : " ^#b9b5b2;Customise your experience!",
			"position" : [0, 0],
			"icon" : {
				"type" : "image",
				"file" : "/interface/crafting/craftingicon.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},
		"version" : {
			"type" : "label",
			"position" : [7, 11],
			"hAnchor" : "left",
			"value" : "0.324234324"
		},
		"pagesGroup" : {
			"type" : "radioGroup",
			"toggleMode" : false,
			"callback" : "radiogroup_selected",
			"position" : [159, 44],
			"zlevel": 1,
			"buttons" : [
				{
					"id" : 1,
					"baseImage": "/interface/scripted/moth_settings/page.png",
					"hoverImage": "/interface/scripted/moth_settings/page.png?brightness=30",
					"baseImageChecked": "/interface/scripted/moth_settings/selectedpage.png",
					"hoverImageChecked": "/interface/scripted/moth_settings/selectedpage.png?brightness=30",
					"pressedOffset": [ 0, 0 ],
					"text" : "1",
					"fontColor" : "gray",
					"fontColorChecked" : "white",
					"position": [ 1, 126 ],
					"selected": true
				}
			]
		},
		/*"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [5, 45, 168, 196],
			"children" : {
				"debug" : {
					"type" : "image",
					"file" : "/interface/scripted/moth_settings/debug.png",
					"position" : [0, 0],
					"zlevel" : -1
				}
			}
		},*/
		"save_button" : {
			"type" : "button",
			"callback" : "button_save",
			"position" : [6, 25],
			"pressedOffset" : [0, -1],
			"caption" : "Accept",
			"base" : "/interface/scripted/moth_settings/button.png",
			"hover" : "/interface/scripted/moth_settings/buttonhover.png"
		},
		"reset_button" : {
			"type" : "button",
			"callback" : "button_reset",
			"position" : [87, 25],
			"pressedOffset" : [0, -1],
			"caption" : "Back",
			"base" : "/interface/scripted/moth_settings/button.png?flipx",
			"hover" : "/interface/scripted/moth_settings/buttonhover.png?flipx"
		}
	},
	
	"settingsSpacing" : 3,
	"clientConfigTypes" : {
		"slider" : {
			"height" : 18,
			"label" : {
				"type" : "label",
				"position" : [82.5, 10],
				"hAnchor" : "mid",
				"value" : "LABEL"
			},
			"value" : {
				"type" : "label",
				"position" : [14, 1],
				"hAnchor" : "mid",
				"value" : "212"
			},
			"box" : {
				"type" : "image",
				"file" : "/interface/scripted/moth_settings/selectionbox.png",
				"position" : [5, 0],
				"zlevel" : 0
			},
			"slider" : {
				"type" : "slider",
				"callback" : "slider_button",
				"position" : [25, 1],
				"range" : [0,255,1],
				"gridImage" : "/interface/scripted/moth_settings/selection.png"
			}
		},
		"check" : {
			"height" : 10,
			"label" : {
				"type" : "label",
				"position" : [17, 1],
				"hAnchor" : "left",
				"value" : "LABEL"
			},
			"button" : {
				"type" : "button",
				"callback" : "check_button",
				"pressedOffset" : [0, 0],
				"position" : [5, 0],
				"base" : "/interface/optionsmenu/checkboxnocheck.png",
				"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"checkable" : true,
				"checked" : false
			}
		}
	},
	
	"pages" : [
		[],
		[],
		[],
		[],
		[],
		[]
	],

	"scriptWidgetCallbacks": [
		"radiogroup_selected",
		"button_reset", 
		"button_save",
		
		"slider_button",
		"check_button"
	],

	"scripts": ["/interface/scripted/moth_settings/moth_settings.lua"],
	"scriptDelta": 1,

	"serializeSelection": true
}